<!doctype html>
<html lang="tr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<mmc-css-material-symbols-all />
	<mmc-css-material-icons-all />
	<mmc-css-bs version="5.3.3" />
	<link rel="stylesheet" href="@Url.Content("~/css/app.css")" />
	@await RenderSectionAsync("head", required: false)
</head>

<body>
	<div class="container-lg">
		@RenderBody()
	</div>
	<mmc-js-bs version="5.3.3" />
	@await RenderSectionAsync("body", required: false)
</body>

</html>