@model string

<partial name="AppNavbar" />

@if (string.IsNullOrEmpty(Model))
{
    <div class="row my-4">

        <div class="col">
            <strong>Bootstrap Components</strong>

            <ol class="mt-2">
                <li>
                    <strong><a asp-route-id="Accordion">Accordion</a></strong>
                    <p>Build vertically collapsing accordions</p>
                </li>
                <li>
                    <strong><a asp-route-id="Alert">Alert</a></strong>
                    <p>Provide contextual feedback messages</p>
                </li>
                <li>
                    <strong><a asp-route-id="Badge">Badge</a></strong>
                    <p>Provide contextual feedback messages</p>
                </li>
                <li>
                    <strong><a asp-route-id="BreadCrumb">BreadCrumb</a></strong>
                    <p>Indicate the current page’s location within a navigational hierarchy that automatically adds
                        separators via CSS.</p>
                </li>
            </ol>
        </div>
        
        <div class="col">
            <strong>Bootstrap Components</strong>

            <ol class="mt-2" start="5">
                <li>
                    <strong><a asp-route-id="Button">Button</a></strong>
                    <p>Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for
                        multiple sizes, states, and more.</p>
                </li>                
				<li>
					<strong><a asp-route-id="Card">Card</a></strong>
					<p>Bootstrap’s cards provide a flexible and extensible content container with multiple variants and
						options.</p>
				</li>
				<li>
					<strong><a asp-route-id="Carousel">Carousel</a></strong>
					<p>A slideshow component for cycling through elements—images or slides of text—like a carousel.</p>
				</li>
			</ol>
        </div>


    </div>
}
else
{
    <partial name="Container" model="@Model" />
}

<assembly-version />
<mso>home</mso>
<msr>home</msr>
<mss>home</mss>

<mif>home</mif>
<mio>home</mio>
<mir>home</mir>
<mis>home</mis>
<mit>home</mit>

@section body {
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="@Url.Content("~/js/app.js")"></script>
}