<h6 class="my-4">Variants</h6>

<mmc-button variant="primary" value="Submit" type="Button">Primary</mmc-button>
<mmc-button variant="secondary" value="Submit" type="Button">Secondary</mmc-button>
<mmc-button variant="success" value="Submit" type="Button">Success</mmc-button>
<mmc-button variant="danger" value="Submit" type="Button">Danger</mmc-button>
<mmc-button variant="warning" value="Submit" type="Button">Warning</mmc-button>
<mmc-button variant="info" value="Submit" type="Button">Info</mmc-button>
<mmc-button variant="light" value="Submit" type="Button">Light</mmc-button>
<mmc-button variant="dark" value="Submit" type="Button">Dark</mmc-button>
<mmc-button variant="link" value="Submit" type="Button">Link</mmc-button>

<h6 class="my-4">Types</h6>

<mmc-button variant="primary" type="Button">Button</mmc-button>
<mmc-button variant="secondary" type="Submit">Submit</mmc-button>
<mmc-button variant="warning" type="Reset">Reset</mmc-button>