<mmc-card style="width: 20rem;">
	<mmc-card-body title="Sample Card" image="https://dummyimage.com/300x150/eeeeee/000000.png&text=Sample+Image">
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</mmc-card-body>
</mmc-card>