<h5>Carousel with CarouselItems (Light)</h5>
<mmc-carousel items="@MockData.CarouselItems" indicators="true" />

<h5>Carousel with CarouselItems (Dark)</h5>
<mmc-carousel items="@MockData.CarouselItems" indicators="true" dark="true" />

<h5>Carousel with Images (Autoride with Interval)</h5>
<mmc-carousel images="@MockData.CarouselImages" indicators="true" ride="true" interval="1000" />

<h5>Carousel with CarouselItems with Fade</h5>
<mmc-carousel images="@MockData.CarouselImages" indicators="true" fade="true" />